.back1{
 background-color:#2E2E2E;
}

.back2{
	background-color:gray;

}

.back3{
	background-color: white;

}



.icon{
	height:20px; 
	width:25px;
}

.icon1{
	height:120px; 
	width:120px;
}

.icon2{
	height:30px; 
	width:30px;
}


.asda{
	color: red;
	font-style:italic;
}

.pl-18{
	padding-left: 18%;
}

.deco{
	width: 90%;
	margin-left: 5%;
	height:3px; 
   background-color:#A4A4A4; 
   border:none;
}

.deco2{
	border: 1px dashed #A4A4A4; 
}

.pl-7{
	padding-left: 7%;
}

.text-red{
	color:red;
}

.enviar{
	display: block;
	color:gray;
	width: 200px;
	height: 100px;
	font-size:14px;
	color:black;
	padding: 10px 10px 10px 0px;

}

.pt-2{
	padding-top: 2%;
}

.pb-10{
	padding-bottom: 10%;
}

.menu{
 font-size: 30px;
 font-family: Verdana;
 padding: 5% 0% 5% 30%;
}

.pr-13{
	padding-right: 13%;
}

.mt-10{
	margin-top: 10%;
}

.mt-5{
	margin-top: 5%;
}

.button1{
 height: 30px;
 width:100px;
 background-color: gray;
 border-radius: 10%;
}

.mb-5{
	margin-bottom: 15%;
}

.mb{
	margin-bottom: 5%;
}

.gent{
	font-family: Verdana;
	font-size: 15px;
	

}

.top{
	border-radius: 100%;
	height: 70px;

}


.pl-30{
	padding-left: 30%;
}

.ml-5{
	margin-left: 5%;
}